body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    perspective: 960px;
}

.card {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 500px;
    background-color: #845EC2;
    color: #FFF;
    border-radius: 0.5rem;
    transition: 0.2s all;
    box-shadow: 3px -5px 15px rgba(0, 0, 0, 0.5);
}